.weekdays-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0.5rem;
    width: 100%;
    margin-bottom: 0.5rem;
}

.weekday {
    font-size: 1.5rem;
    text-align: center;
    min-width: calc(80w / 7);
}
