.calendar-header-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    color: rgb(252, 60, 68);
}
.extras-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    margin-bottom: 1rem;
}
.header-date-display {
    font-size: 2rem;
    font-weight: 600;
    margin-left: 30px;
}
.pickers-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
